<a href="https://colab.research.google.com/github/shynight/KU-BTECH-AIML/blob/main/21BTAI01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Adityawardhan Mishra 21BTAI01 B.TECH. (AIML)

Experiment 1 - Type of variables

In [ ]:
a=int(input("enter the value of a:"))
print(a)
type(a)

enter the value of a:1
1

int

In [ ]:
b=input("enter the string:")
print(b)
type(b)

enter the string:hello
hello

str

Experiment 2 - Algebraic Expressions

In [ ]:
x1=float(input("Give value of x1 :"))
x2=float(input("Give value of x2 :"))
y1=float(input("Give value of y1 :"))
y2=float(input("Give value of y2 :"))
answer=(x1-y1**2)+(y1-y2**2)
print("your answer",answer)

Give value of x1 :2
Give value of x2 :1
Give value of y1 :5
Give value of y2 :3
your answer -27.0

Experiment 3 - List and Tuples

In [ ]:
list1=["Aditya","Vedant","Arpit"]
print(list1)
for i in list1:
  print(i)
#------------------
tuple1=("Aditya","Vedant","Arpit")
print(tuple1)
for i in tuple1:
  print(i)

['Aditya', 'Vedant', 'Arpit']
Aditya
Vedant
Arpit
('Aditya', 'Vedant', 'Arpit')
Aditya
Vedant
Arpit

Experiment 4 - Odd and Even

In [ ]:
n=int(input("Enter a number: "))
if n%2==0:
   print(n,"is even")
else:
   print(n,"is odd")

Enter a number: 1
1 is odd

Experiment 5 - Armstrong Number

In [ ]:
n=input("Enter number:")
li=list(n)

l=len(n)
sum=0
for i in range(l):
    sum+=pow(int(li[i]),l)

if(int(n)==sum):
    print("It is armstrong")
else:
    print("It is not armstrong")

Enter number:9474
It is armstrong

Experiment 6 - Dictionaries (Counting Characters)

In [ ]:
y=input("Enter the string:")
d={}
for i in y:
  if i in d:
    d[i]+=1
  else :
    d[i]=1
print(d)

Enter the string:aryan
{'a': 2, 'r': 1, 'y': 1, 'n': 1}

Experiment 7 - Sequences

In [ ]:
import sympy
sum=0
for i in range(0,3490001):
  if(sympy.isprime(i))==True:
    sum+=i
print(sum)

418447415491

In [ ]:
def fibonacci():
  seq=[1,2]
  total=0
  while seq[-1]<100000:
    if seq[-1]%2==0:
      total+=seq[-1]
    seq.append(seq[-1]+seq[-2])
  print(total)
fibonacci()

60696

In [ ]:
l=[1,2,3,4,5,8,6,9,1,3,6,7,8]
li=[]
for i in l:
    if i not in li:
        li.append(i)
    else:
        print(i,end=' ')

1 3 6 8

Experiment 8 - Mean and Median

In [ ]:
n=[10, 20, 15, 25, 80]
l=len(n)
t=0
for i in range(l) :
  t+=n[i]
print("Sum is",t)
mean=t/l
print("Mean is",mean)

Sum is 150
Mean is 30.0

In [ ]:
num=[10, 20, 15, 25, 80]
no=len(num)
num.sort()
if no % 2 == 0:
  median1 = num[no//2]
  median2 = num[no//2 - 1]
  median = (median1 + median2)/2
else:
  median = num[no//2]
print("The Median of", num, "is",median=)

The Median of [10, 15, 20, 25, 80] is 20

Experiment 9 - Password and Login system

In [ ]:
d = {"Aditya" : "Rock123" , "Vedant": "Paper123", "Arpit" :"Scissors123"}
user=input("Enter the username: ")
if user in d:
  pswd= input("Enter the password: ")
  if d[user]== pswd :
    print("You are logged in to system!")
  else :
    print("You have entered wrong password")
else :
  print("The person is not valid to login")

Enter the username: Aditya
Enter the password: Rock123
You are logged in to system!

Experiment 10 - Lambda Function

In [ ]:
marks = [('Mathematics', 93), ('Python', 95), ('Environment',96)]
print("Original list of tuples:")
print(marks)
marks.sort(key = lambda x: x[1])
print("\nSorting the List of Tuples:")
print(marks)

Original list of tuples:
[('Mathematics', 93), ('Python', 95), ('Environment', 96)]

Sorting the List of Tuples:
[('Mathematics', 93), ('Python', 95), ('Environment', 96)]

Experiment 11 - Linear Search and Binary Search

In [ ]:
def linearSearch(lst,item):
  for i in range(len(lst)):
    if lst[i]==item:
      return f"The element {item} is at index {i}"
  return -1
def binarySearch(lst,item):
  lst.sort()
  print("The sorted list is:",lst)
  low,high=0,len(lst)-1
  while low<=high:
    mid=(low+high)//2
    mid_element=lst[mid]
    if mid_element==item:
      return f"The element {item} is at index {mid}"
    if mid_element<item:
      low=mid+1
    elif mid_element>item:
      high=mid-1
    return -1
ls=[]
n=int(input("Enter the number of elements: "))
print("Enter the elements: ")
for i in range(n):
  ls.append(int(input()))
print("Your list is: ",ls)
it=int(input("Enter item to search: "))
ch=int(input("Enter 0 for linear search and 1 for binary search: "))
if ch==0:
  print(linearSearch(ls,it))
else:
  print(binarySearch(ls,it))

Enter the number of elements: 3
Enter the elements:
2
3
8
Your list is:  [2, 3, 8]
Enter item to search: 8
Enter 0 for linear search and 1 for binary search: 1
The sorted list is: [2, 3, 8]
-1

Experiment 12 - List Manipulation

In [ ]:
l1= ["M","Na","i","Sa"]
l2 = ["y","me","s","nada"]
l3=[]

for i in range(len(l1)):
    l3.append(l1[i]+l2[i])
print(l3)

['My', 'Name', 'is', 'Sanada']

Experiment 13 - Merge Sort

In [ ]:
def mergeSort(arr):
    if len(arr) > 1:
        mid = len(arr) // 2
        L = arr[:mid]
        R = arr[mid:]
        mergeSort(L)
        mergeSort(R)
        i = j = k = 0

        while i < len(L) and j < len(R):
            if L[i] < R[j]:
                arr[k] = L[i]
                i += 1
            else:
                arr[k] = R[j]
                j += 1
            k += 1

        while i < len(L):
            arr[k] = L[i]
            i += 1
            k += 1

        while j < len(R):
            arr[k] = R[j]
            j += 1
            k += 1
    return arr
#selection sort
def selectionSort(arr):
    for i in range(len(arr)):
        min_idx = i
        for j in range(i + 1, len(arr)):
            if arr[min_idx] > arr[j]:
                min_idx = j
        arr[i], arr[min_idx] = arr[min_idx], arr[i]
    return arr
#insertion sort
def insertionSort(array):
    for step in range(1, len(array)):
        key = array[step]
        j = step - 1
        while j >= 0 and key < array[j]:
            array[j + 1] = array[j]
            j = j - 1
        array[j + 1] = key
    return array

Experiment 14 - Random Password Generator

In [ ]:
import random
l=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']

n=['0','1','2','3','4','5','6','7','8','9']

c=['!','@','#','$','%','$','%','&','*','~']

n_l= int(input("enter the number of letters you want : "))
n_n= int(input("enter the number of numbers you want : "))
n_c= int(input("enter the number of characters you want : "))

pswd=[]

for i in range (0,n_l):
  pswd.append(random.choice(l))
for i in range (0,n_n):
  pswd.append(random.choice(n))  
for i in range (0,n_c):
  pswd.append(random.choice(c))

random.shuffle(pswd)
pasf="".join(pswd)
print(pasf)

enter the number of letters you want : 2
enter the number of numbers you want : 3
enter the number of characters you want : 1
R65q!5